
          <div style="direction: rtl; padding-right: 30px;" class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div *ngFor="let item of feedbackList">
          <div style="direction: rtl;" class="col d-flex align-items-start">
          
            <br>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path  fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>    
              <h3 class="fs-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.name}}</font></font></h3>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.phone|myPipe}} </font><font style="vertical-align: inherit;"></font></font></p>
              <p  class="lead mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.feedb}}</font></font></p>
              <button  (click)="addLike(item)" style="font-size: xx-large; border: none; background-color: white;">👍     {{item.countLikes}}</button>
            </div>
          </div>
        </div>
</div>


<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <button style="font-size: large;border-radius: 6px;" appColorStyle [color]="'rgb(98, 216, 223)'" (click)="addFeedback()">להוספת תגובה</button>
  </div>
