<style>
  p {
    margin-left: 50px;

  }

  h2 {
    margin-left: 50px;
    margin-top: 40px;
  }
</style>

<div id="comp-ig2bk4q31" class="BaOVQ8 tz5f0K comp-ig2bk4q31" data-testid="richTextElement"><p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:#030182;"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;"><span class="wixGuard">​</span></span></span></span></span></p>

  <p class="font_8" dir="rtl" style="font-size:18px; margin-left:40px; text-align:center;"><span style="font-size:18px;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-weight:bold;">שלום כאן מירלה כהן,</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">צלמת ואמא לשבעה מתוקים ושובבים מחיפה&nbsp;</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">אין!&nbsp;</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">אין בעולם משהו מדהים יותר </span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">מלראות את הילד שלי בתמונה כשהוא עם עיניים קונדסיות וחיוך ענק,</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">לאכול את הילד יחד עם התמונה...</span></span></span></span></p>
  
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">אני אוהבת לתת את הנחת הזו לאימהות בסט צילומי משפחה מרהיבים.</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">&nbsp;או להעביר הלאה בקורסים מגוונים</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">את הידע והניסיון שצברתי במשך השנים</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">כדי שיוכלו גם הם להפוך לצלמות או לצלם במשפחה</span></span></span></span></p>

  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">אני מזמינה אתכם לסט צילומים,</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:rgb(96, 39, 121)"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">לקבל&nbsp;תמונות שכיף להסתכל ולהשוויץ בהן שוב ושוב,</span></span></span></span></p>
  
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:#030182;"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">ואם את אוהבת לצלם בעצמך, </span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:#030182;"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">ממליצה לך להירשם ל"טיפצילום"- טיפים מדליקים בחינם!</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:15px; margin-left:40px; text-align:center;"><span style="color:#030182;"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:15px;"><span style="font-weight:bold;">או להצטרף לאחד ממגוון הקורסים שלי.</span></span></span></span></p>
    
  <p class="font_8" dir="rtl" style="font-size:16px; margin-left:40px; text-align:center;"><span style="color:#030182;"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:16px;"><span style="font-weight:bold;">: פנו אלי בכל שאלה</span></span></span></span></p>
  
  <p class="font_8" dir="rtl" style="font-size:16px; margin-left:40px; text-align:center;"><span style="color:#030182;"><span style="font-family:almoni-dl-aaa-300,sans-serif;"><span style="font-size:16px;"><span style="font-weight:bold;">&nbsp; &nbsp;0527631008</span></span></span></span></p></div>