#header{
    background-attachment: fixed;
}
.g{
    color: red;
}
#photo{
color: rebeccapurple !important;
background-color: red !important;
font-weight: 100px !important;
}
#activity{
    color: rebeccapurple !important;

    }
