
<div class="container px-4 py-5" id="featured-3" style="display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; ;">

  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/תמונה4.png');background-repeat: no-repeat;background-size: 110%;">
      <div class="card-body">
   
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/images (3).jpg');background-repeat: no-repeat;background-size: 130%;">
      <div class="card-body">
   
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/images (7).jpg');background-repeat: no-repeat;background-size: 106%;">

      <div class="card-body">
   
      </div>
    </div>
  </div>

</div>
<div class="container px-4 py-5" id="featured-3" style="display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
margin-top: -50px; ;">

  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/images (9).jpg');background-repeat: no-repeat;background-size: 110%;">
      <div class="card-body">
   
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/images (2).jpg');background-repeat: no-repeat;background-size: 100%;">
      <div class="card-body">
   
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/images (4).jpg');background-repeat: no-repeat;background-size: 106%;">

      <div class="card-body">
   
      </div>
    </div>
  </div>

</div>

<div class="container px-4 py-5" id="featured-3" style="    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;margin-top: -50px;">

  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/תמונה1.png');background-repeat: no-repeat;background-size: 104%;">
      <div class="card-body">
   
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/תמונה2.png');background-repeat: no-repeat;background-size: 105%;">

      <div class="card-body">
   
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/תמונה3.png');background-repeat: no-repeat;background-size: 105%;">

      <div class="card-body">
   
      </div>
    </div>
  </div>

</div>
<div class="container px-4 py-5" id="featured-3" style="    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;margin-top: -50px;">

  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/IMG_7211.jpg');background-repeat: no-repeat;background-size: 105%;">
      <div class="card-body">
   
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/IMG_7219.jpg');background-repeat: no-repeat;background-size: 105%;">

      <div class="card-body">
   
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card"
      style="height: 240px !important;width:350px !important;background-image:url('../assets/images/IMG_7185.jpg');background-repeat: no-repeat;background-size: 105%;">

      <div class="card-body">
     
     
      </div>
    </div>
  </div>
  

</div>





<div style="width: 100%;height: 100px; direction: rtl;;">
  <div class="container px-4 py-5" id="featured-3">

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col">
          <h3 class="fs-2">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"></font>
            </font>
          </h3>
     
        </div>
      </div>
   
  </div>
</div>

